.container{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  background-color: white;
  justify-content: space-between;

}
body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: antiquewhite;
}
.list-body{
  background-color: white;
  width:100%;
  height:500px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: baseline;

.list-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
}
.functional-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
  align-items: center;
  .button {
    background-color: violet;
    margin-left: 5%;
  }
  .button-x{

    width: 10px;
    height: 10px;
    background-color: greenyellow;
  }
  .button-star{
    width: 10px;
    height: 10px;
  }

}